<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaterPumpControl"
        tools:targetApi="31">

        <!-- LoginActivity sẽ là Activity đầu tiên -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Các Activity còn lại không có intent-filter -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".DashBoardActivity" android:exported="false" />
        <activity android:name=".controlActivity" android:exported="false" />
        <activity android:name=".ScheduleActivity" android:exported="false" />
        <activity android:name=".AlertsActivity" android:exported="false" />
        <activity android:name=".ReportsActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />

    </application>

</manifest>
